@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./poster/background.jpeg");
  background-repeat: no-repeat;
background-size: cover;
  background-attachment: fixed;
}



.title{
  font-family: 'Abril Fatface', cursive;
}

canvas {
  background: #232323;
  z-index: -1;
  position: sticky;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-div{
  display: block !important;
  justify-content: center;
  align-items: center;
}

/* navbar */
#navbar{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  top: 0px;
  z-index: 6;
  opacity: 0.7;
}

#navbar ul{
  display: flex;
  justify-content: right;
  margin: 10px;
}

#navbar ul li{
  list-style: none;
  padding: 10px 10px;
  color: white;
}

#navbar ul li a{
  text-decoration: none;
  color: white;
}

.mypart{
  background-color: black;
  color: white;
  border: none;
}

.photo {
  width:100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 100px;
  background-color: rgb(126, 116, 116);
}

/* dialog box */

.MuiInputBase-input {
  height: 5px !important;
}

/* card */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 280px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: #000000a8;      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: #000000a8;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  display : path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #fff;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: 20px;
}    
.cards .btn {
	background-color: #00000082;
	color: #fff;
	margin-left: 20px;
	border-radius: 10px;
	
}

/*section coordinator and developers*/
.leader-image {
	border-radius: 50%;
	height: 135px;
  width: 135px;
  object-fit: cover;
	box-shadow: 4px 3px 4px 0 rgba(83, 80, 80, 0.58);
}

.section-3a h3{
	font-size: 25px;
}
.loop-pic {
	background-image: url('./poster/keyur.jpeg');
	clip-path: polygon(0 12%,0 100%,100% 88%,100% 0);
	padding: 23rem 0rem 0rem 0rem;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: 1360px 620px;
	background-attachment: fixed;
	position: relative;
	background-color: var(--color-theme-primary);
}
.loop-pic {
	position: absolute;
	top: 140px;
	font-size: 80px;
	color: #fff;
	width: 100%;
	z-index: 1;
}

/* =================================== */
/*  Home Full Screen Slider
/* =================================== */
.homeSlider .carousel-inner,
.homeSlider .carousel-item {
    height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;  
}
.homeSlider .carousel-caption {
    position: absolute;
    bottom: 0px;
}
.homeSlider .carousel-caption a {
	margin-left:30em;
}
.homeSlider .carousel-caption h2 {
    top: 45%;
    right:0;
    left:0;
    font-size: 50px;
    padding:0.7rem;
    display:inline-block;
    position:absolute;
    color:#fff;
    font-weight: 800;
}
.homeSlider .carousel-caption h4 {
    top: 45%;
    right:0;
    font-size: 2rem;
    padding:0.7rem;
    display:inline-block;
    position:absolute;
	line-height:1.3;
}
.homeSlider .carousel-caption .btn-sm {
    top:65%;
    left:0;
    position:absolute;
    background-color:#fff;
    border-color:#fff;
} 
.homeSlider .carousel-caption .btn-sm:hover {
    background-color:#045a5c;
    border-color:#fff;
}

.img-fluid{
  height: 177px !important;
  width: 100% !important;}

